{% extends "base.html" %}
{% load bootstrap3 %}
{% block navbar %}{% endblock %}
{% block body %}
<div col-md-8 col-md-offset-2>
    <div class="panel panel-primary">
        <div class="panel-heading">Edit Profile</div>
        <div class="panel-body">
            <form action="" method="post"> {% csrf_token %}
               {{ form.as_p }}
                {% buttons %}
                <input class="btn btn-primary" type="submit" value="Update"/>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
