{% extends "base.html" %}
{% load bootstrap3 %}
{% block navbar %}{% endblock %}
{% block body %}
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
        <div class="panel-heading">Patient Registration</div>
        <div class="panel-body">
            <form action="/register/" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
